langchain
ipykernel
python-dotenv
langchain-community
pypdf 
beautifulsoup4
arxiv
pymupdf
wikipedia
sentence-transformers
langchain-huggingface
chromadb
streamlit
faiss-cpu
langchain-groq
openai
langchain-openai
langchain-core
fastapi
uvicorn
langserve[all]
